<script src='/js/jquery.js' charset='utf-8'></script>
<script src='/js/underscore/underscore.js' charset='utf-8'></script>
<script src='/js/backbone/backbone.js' charset='utf-8'></script>
<script src='/admin/data/edit.js' charset='utf-8'></script>
<script>
$(editDataSet('{{dataSetName}}'));
</script>
<div id="dataset"> 
  <ul id="dataset-list"></ul>
</div>

<!-- Templates -->

<script type="text/template" id="property-template">
  <div class="property">
    <input >
  </div>
</script>
