<script src='/js/jquery.js' charset='utf-8'></script>
<script src='/js/underscore/underscore.js' charset='utf-8'></script>
<script src='/js/backbone/backbone.js' charset='utf-8'></script>
<script src='/admin/data/edit.js' charset='utf-8'></script>
<script>
$(function() {
    editDataSet('{{dataSetName}}');
});
</script>
<div id="dataset"> 
</div>

<!-- Templates -->

<script type="text/template" id="dataset-template">
  <div class="property">
    Template
  </div>
</script>
