<script src='/js/jquery.js' charset='utf-8'></script>
<script src='/js/backbone/backbone-min.js' charset='utf-8'></script>
<script src='/js/data/datasets_edit.js' charset='utf-8'></script>
<script>
$(editDataSet({{dataSetId}}));
</script>
<div id="dataset"> 
  <ul id="dataset-list"></ul>
</div>

<!-- Templates -->

<script type="text/template" id="property-template">
  <div class="property">
    <input >
  </div>
</script>
